{% extends 'blog/layout.html' %}




{% block layout %}


<div class="container">
<main class="px-3">
    <h1>Contacto:</h1>
    <p class="lead">Aca vamos a poner celulares, nombres, etc.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
  <footer class="blog-footer"><br>
    <p class="mt-5 mb-3 text-muted">&copy; Fundacion Obrando en Tí.</p>
    <p>
      <a href="#">Inicio</a>
    </p>
  </footer>
</div>
    
{% endblock layout %}
    