{% extends 'blog/layout.html' %}


{% load humanize %}

{% block layout %}
  

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Titulo copado para dar inicio al BLOG</h1>
      <p class="lead my-3">Descripcion de la ONG. Frase inspiracional motivadora para la crisis existencial que tuve cuando no arrancaba django.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    {% for post in object_list %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{user.first_name}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          
          
            
          
            
          <div class="mb-1 text-muted">{{post.timestamp | naturaltime}}</div>
          <p class="card-text mb-auto">{{post.content | truncatewords:"18"}}</p>
          <a href="{% url 'detalleposteo' post.pk %}" class="stretched-link">Continuar leyendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          
          {% if post.image.url is not None %}
          <img src="{{ post.image.url }}" width="250" height="250" alt="">
          {% else %}
          <svg class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          {% endif %}
            
          

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

 

  <div class="row g-5">
    <div class="col-md-8">
      <h2 style="text-decoration: underline;" class="pb-4 mb-4 fst-italic border-bottom">
        Noticias:
      </h2>
      
      {% for new  in object_list  %}
        
      
        
      <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{new.title}}</h2>
        <p class="blog-post-meta">{{new.timestamp | naturaltime}} por <a href="#">{{user.first_name}}</a></p>

        <p>{{new.content}}</p>
        <hr>
      {% endfor %}

      

     



    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">Nuestra Misión</h4>
          <p class="mb-0">Nuestra meta es ayudar a personas que más necesitan mediante la construcción de viviendas.</p>
        </div>

        

        <div class="p-4">
          <h4 class="fst-italic">Nuestras redes:</h4>
          <ol class="list-unstyled">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
    <br><br>
    <footer class="blog-footer"><br>
      <p class="mt-5 mb-3 text-muted">&copy; Fundacion Obrando en Tí.</p>
      <p>
        <a href="#">Inicio</a>
      </p>
    </footer>
  </div>
  </main>
  {% endblock layout %}
