{% extends 'blog/layout.html' %}




{% block layout %}

<div class="container">
<main class="form-signin w-100 m-auto">
    <form>
      
      <h1 class="h3 mb-3 fw-normal">Ingrese sus datos:</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="usuario administrador">
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="constraseña suministrada">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Click para Ingresar</button>
          </form>
</main>  
<footer class="blog-footer"><br>
    <p class="mt-5 mb-3 text-muted">&copy; Fundacion Obrando en Tí.</p>
    <p>
      <a href="#">Inicio</a>
    </p>
  </footer>

</div>

    
{% endblock layout %}
    